:host ::ng-deep .mat-form-field-flex {
  height: 40px !important;
}
:host ::ng-deep .mat-form-field-wrapper {
  height: 40px !important;
  padding: 0 !important;
  margin: 0 !important;
}
:host ::ng-deep .mat-form-field-infix {
  width: 48px !important;
  border-top: none;
}
.selected {
  font-size: 14px;
  font-weight: bold;
  color: brown;
}
.options > span {
  cursor: pointer;
}
