.fix-height {
  height: calc(100vh - 202px);
  overflow: auto;
}
.row {
  &:hover {
    background-color: aliceblue;
  }
}
.page {
  font-family: 'Poppins', sans-serif;
}

.A, .A1, .A2{
  color: gray
}

.B, .B1, .B2{
  color: green;
}

.C, .C1, .C2{
  color: #27bdbd;
}

.D, .D1, .D2 {
  color: blue;
}

.E, .E1, .E2 {
  color: violet;
}

.F, .F1, .F2, .G, .G1, .G2{
  color: orange;
}

.H, .H1, .H2 .I, .I1, .I2, .J, .J1, .J2, .K, .K1, .K2, .L, .L1, .L2, .M, .M1, .M2, .N, .N1, .N2, .O, .O1, .O2, .P, .P1, .P2 {
  color: red;
}

.row > span {
  font-weight: 500;
}
